.mediaCard {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
}

.mediaCard:hover {
  background-color: #0c0c0c; /* Optional hover effect */
}

.mediaCard.selected {
  background-color: #0c0c0d; /* Selected background color */
  color: #fff; /* Optional: Change text color when selected */
}

.image {
  border-radius: 10px;
  object-fit: cover;
}

.mediaInfo {
  margin-left: 15px;
  flex-grow: 1;
}

.mediaInfo h4 {
  margin: 0;
  font-size: 18px;
}

.mediaInfo p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #aaa;
}

.mediaInfo span {
  font-size: 12px;
  color: #666;
}